/*

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
@media (max-width: 575.98px), (min-width: 576px) and (max-width: 767.98px) , (min-width: 768px) and (max-width: 991.98px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .sidebar .photo .image-wrapper .image {
    height: 200px;
    width: 200px;
  }
  .sidebar .menu {
    margin-top: 4rem;
  }
  .sidebar .social {
    position: relative;
  }
  .main-wrapper {
    margin-left: 0;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .main-wrapper .about-me-section__button {
    display: none;
  }
  .main-wrapper .sections {
    height: auto;
    padding: 0;
  }
  .main-wrapper .sections__headers {
    font-size: 12vw;
  }
  .main-wrapper .about-me-section__text {
    padding: 2rem;
  }
  .main-wrapper .examples-section .figureOdd,
  .main-wrapper .examples-section .figureEven {
    position: relative;
    max-width: 95vw;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    margin-bottom: 1rem;
  }
  .main-wrapper .examples-section .figureOdd .number-for-figureEven,
  .main-wrapper .examples-section .figureEven .number-for-figureEven,
  .main-wrapper .examples-section .figureOdd .number-for-figureOdd,
  .main-wrapper .examples-section .figureEven .number-for-figureOdd {
    display: none;
  }
  .main-wrapper .examples-section__image {
    width: 100%;
    height: auto;
  }
  .main-wrapper .skills-block .skills-logo {
    flex-basis: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) , (max-width: 575.98px) {
  .sidebar .menu-wrapper {
    display: none;
    transition: 1s;
  }
  .sidebar .phone-menu-button {
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #974d26;
    border: 3px solid black;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  .sidebar .phone-menu-button .fas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
  }
  .sidebar .phone-menu {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: #5a8a8a;
    transition: 1s;
  }
  .sidebar .open-close {
    display: block;
  }
}
