*{
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}
body {
  background-color: #f2e2dd;
}
.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #426c79;
  padding: 2rem;
  border: 3px solid #000712;
  border-radius: 2px;
}

.title {
  display: flex;
  padding: 1rem;
  color: #f89554;
  font-size: 1.5rem;
}

.links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 0.9rem;
}

.links-items {
  width: 100%;
  display: flex;
  background-color: #000712;
  margin: 0.5rem;
  border: 3px solid #000712;
  border-radius: 2px;
}

.links-items:hover {
  background-color: #00213a;
}

.links-items a {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  cursor: pointer;
  color: #f89554;
  text-decoration: none;
}
