.main-section {
  position: relative;
}
.radio-buttons-for-scrolling-2 {
  position: absolute;
  right: 35px;
  top: 50%;
  z-index: 10;
}
.radio-buttons-wrapper-2 {
  float: right;
  position: relative;
}
.radio-buttons-wrapper-2 .radio-buttons-2 {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
}
.radio-buttons-wrapper-2 .checked-second {
  background-color: #ffffff;
}
.radio-buttons-wrapper-2 .checked-second::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 4px;
  height: 1px;
  width: 30px;
  background: #ffffff;
}
.radio-buttons-wrapper-2 .checked-second::after {
  content: "about";
  position: absolute;
  left: -75px;
  top: -5px;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.699);
}
.first-background-wrapper {
  background: url("../backgrounds/background-blue.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
}
.blue-bakground-wrapper {
  background-color: #2D2C5A;
  height: 80vh;
  position: relative;
}
.content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.about-video-section {
  position: relative;
}
.about-video-section::before {
  content: url("../backgrounds/line\ zigzag.png");
  position: absolute;
  left: -5%;
  top: 30%;
}
.video-wrapper {
  padding-top: 2.3rem;
  padding-left: 20px;
}
.video-background {
  width: 100%;
  background: rgba(255, 255, 255, 0.623);
  position: relative;
}
.video-background .play-button {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #ffffff;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -15px;
  margin-top: -15px;
  cursor: pointer;
}
.video-background .play-button .triangle-for-button {
  border: 20px solid transparent;
  border-left: 20px solid #000000;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.video-player {
  width: 100%;
  position: relative;
  display: block;
  bottom: 20px;
  right: 20px;
}
.about-wrapper .about-title {
  font-size: 6.5rem;
  font-family: 'SF UI Display';
  font-weight: 300;
  font-style: normal;
  color: rgba(255, 255, 255, 0.164);
  margin-bottom: 0.5rem;
  letter-spacing: 1rem;
}
.about-wrapper .about-text-upper {
  margin-bottom: 1.5rem;
}
.about-wrapper .about-text-color-font {
  color: #FFDD00;
  font-family: 'SF UI Display';
  letter-spacing: 4px;
  line-height: 1.1;
}
.about-wrapper .text-underline {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.164);
  margin-top: 1rem;
}
.quantity-section {
  margin-top: -1.9rem;
}
.quantity-section .quantity-section-blocks {
  position: relative;
}
.quantity-section .quantity-section-blocks::before {
  position: absolute;
  content: "";
  height: 80%;
  background-color: white;
  width: 2px;
  top: 0;
  right: 20%;
}
.quantity-section__titles {
  color: #FFDD00;
  font-size: 1.6rem;
  font-family: 'SF UI Text';
  padding: 0.3rem;
}
.quantity-section__sub-titles {
  font-size: 2.6rem;
  color: white;
  font-family: 'SF UI Text';
  font-weight: 600;
  padding: 0.2rem;
  line-height: 0.8;
}
