.top-header-wrapper {
  background: url("../backgrounds/bg.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center center;
}
.navigation-menu {
  font-family: 'Roboto', sans-serif;
  padding: 1.375rem 2.25rem;
  border-radius: 35px;
  background-color: #ECB757;
  -webkit-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  opacity: 0;
}
.navigation-menu__item {
  display: inline-block;
}
.navigation-menu__link {
  color: #fafafa;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
}
.navigation-menu__link:hover {
  color: white;
}
.navigation-menu__link:before {
  display: block;
  position: absolute;
  content: "";
  height: 4px;
  width: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#fe2e2e), to(#fe2e7c));
  background: -webkit-linear-gradient(bottom, #fe2e2e, #fe2e7c);
  background: -o-linear-gradient(bottom, #fe2e2e, #fe2e7c);
  background: linear-gradient(to right, #fe2e2e, #fedf2e);
  -webkit-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  left: 0;
  bottom: 0;
}
.navigation-menu__link:hover:before {
  color: white;
  width: 100%;
}
.navigation-menu-hidden {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.navigation-wrapper {
  padding-top: 2.375rem;
}
.introduction-information {
  margin-top: 1.5rem;
}
.introduction-information-logo__picture {
  display: block;
  max-width: 320px;
  height: auto;
  width: 100%;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .introduction-information-logo__picture {
    max-width: 220px;
    max-height: 150px;
  }
}
.introduction-information-title {
  font-size: 2.3rem;
  font-weight: bold;
  font-family: 'Bebas Neue';
  letter-spacing: 10px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .introduction-information-title {
    font-size: 3.3rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .introduction-information-title {
    font-size: 4.3rem;
  }
}
@media (min-width: 1200px) {
  .introduction-information-title {
    font-size: 5.3rem;
  }
}
.introduction-information-title__first {
  color: #CF912A;
  font-weight: 700;
  line-height: 0.7;
  padding-top: 1.5rem;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .introduction-information-title__first {
    font-size: 5.3rem;
  }
}
@media (min-width: 1200px) {
  .introduction-information-title__first {
    font-size: 6.3rem;
  }
}
.introduction-information-title__second {
  color: #303075;
  font-weight: 400;
  line-height: 0.6;
}
.introduction-information-title__number {
  font-size: 3rem;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .introduction-information-title__number {
    font-size: 4.3rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .introduction-information-title__number {
    font-size: 5.3rem;
  }
}
@media (min-width: 1200px) {
  .introduction-information-title__number {
    font-size: 6.3rem;
  }
}
.introduction-information-subtitle {
  font-size: 1,4rem;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-weight: bold;
  padding-top: 1rem;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .introduction-information-subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .introduction-information-subtitle {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .introduction-information-subtitle {
    font-size: 2.7rem;
  }
}
.introduction-information-subtitle::before {
  content: url("../backgrounds/line\ zigzag.png");
  position: absolute;
  bottom: 0;
  left: 0;
}
.introduction-buttons {
  position: relative;
  margin-top: 2rem;
}
.introduction-buttons__round {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 9px 43px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 43px 0px rgba(0, 0, 0, 0.75);
  border-radius: 35px;
  background: linear-gradient(to bottom right, #ab00ff, #ffaccb);
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
}
.introduction-buttons__round:hover {
  -webkit-box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.75);
}
.introduction-buttons__round:active {
  -webkit-box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}
.introduction-buttons__with-margin {
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 9px 43px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 43px 0px rgba(0, 0, 0, 0.75);
  border-radius: 35px;
  background: linear-gradient(to bottom right, #ab00ff, #ffaccb);
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  margin-left: 1rem;
}
.introduction-buttons__with-margin:hover {
  -webkit-box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 9px 20px 0px rgba(0, 0, 0, 0.75);
}
.introduction-buttons__with-margin:active {
  -webkit-box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}
.decoration-line {
  margin-top: 8rem;
}
.decoration-scroll-down {
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  margin-left: 0.35rem;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.decoration-scroll-down__picture {
  width: 100px;
  height: 80px;
}
.radio-buttons-wrapper {
  float: right;
  position: relative;
}
.radio-buttons-wrapper .radio-buttons {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid black;
  margin-bottom: 1rem;
  cursor: pointer;
}
.radio-buttons-wrapper .checked-home {
  background-color: black;
}
.radio-buttons-wrapper .checked-home::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 8px;
  height: 1px;
  width: 30px;
  background: black;
}
.radio-buttons-wrapper .checked-home::after {
  content: "home";
  position: absolute;
  left: -75px;
  top: -1px;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.699);
}
