/*
@primaryColor: #fafafa;
@primaryLightColor:  #ffffff;
@primaryDarkColor:  #c7c7c7;
@secondaryColor: "#ff8a6";
@secondaryLightColor:  #ffbb93;
@secondaryDarkColor:  #c75b39;
@primaryTextColor:  darkgray;
@secondaryTextColor:  gray;
 */
.navigation {
  background-color: rgba(245, 245, 245, 0.712);
  padding: 2rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  top: 0;
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  z-index: 3;
}
.navigation-logo__icon {
  color: #ff8a65;
  font-size: 2rem;
}
.navigation-logo__last-letter {
  font-size: 2rem;
  color: #ff8a65;
  border: 3px solid #ff8a65;
  border-radius: 2px;
}
.navigation-logo__title {
  font-weight: 500;
}
.navigation-links__list-group {
  width: 100%;
}
.navigation-links__link {
  text-decoration: none;
  color: black;
  transition: border-bottom 0.1s linear;
}
.navigation-links__link:hover {
  color: #808080;
}
.active-link {
  border-bottom: 3px solid #ffbb93;
}
.navigation-button__button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  width: 100%;
  border: none;
  background-color: transparent;
  height: 100%;
  border-radius: 2px;
  padding: 0.5rem;
  cursor: pointer;
  color: #000000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.navigation-button__button:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
  background-color: #ff8a65;
  color: #000000;
}
.navigation-button__button:active {
  background-color: #808080;
  border: none;
  outline: none;
}
