@import "responsive.less";

@primaryColor: #f8bbd0;
@primaryLightColor: #ffeeff;
@primaryDarkColor: #c48b9f;
@secondaryColor: #5e35b1;
@secondaryLightColor: #9162e4;
@secondaryDarkColor: #280680;
@primaryTextColor: #000000;
@secondaryTextColor: #ffffff;

//navbar
.proba {
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: @primaryColor;
    transition: ease-in-out 1s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    .total-scroll {
        width: 0;
        height: 4px;
        background-color: rgba(5, 95, 95, 0.274);
        transition: linear 0.5s;
    }
    .navigation {
        padding: 0.8rem;
        transition: ease-in-out 1s;
        .navigation-logo {
            &__icon {
                max-width: 40px;
                border-radius: 50%;
                margin-right: 0.5rem;
            }
            &__header {
                display: inline-block;
                color: white;
                @media @small-devices, @extra-small-devices {
                    font-size: 1rem;
                }
            }
        }
        .navigation-social-links {
            padding: 0;
            &__link-with-margings {
                margin-left: 1rem;
                margin-right: 1rem;
            }
            &__icon {
                font-size: 2rem;
                color: @primaryTextColor;
                width: 34px;
                text-align: center;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
        .navigation-button {
            &__button {
                padding: 0;
                margin: 0;
                border: 0;
                background-color: transparent;
            }
            &__icon {
                font-size: 2rem;
                @media @small-devices, @extra-small-devices {
                    font-size: 1.5rem;
                }
                cursor: pointer;
                transform: scaleY(1);
                transform-origin: top;
                color: @primaryTextColor;
            }
            &__icon:hover {
                transform: scaleY(1.2);
            }
        }
    }
}

//header
.header {
    height: 100vh;
    background-color: @primaryLightColor;
    padding-top: 10vh;
    .header-main-title, .header-sub-title {
        text-align: center;
    }
    .header-main-title {
        font-weight: 600;
        font-size: 5rem;
        letter-spacing: 4px;
        @media @extra-small-devices {
            font-size: 3rem;
        }
    }
    .header-sub-title {
        font-weight: 500;
        font-size: 1.9rem;
    }

    .underline-decoration-line {
        border-bottom: dashed 2px @primaryTextColor;
    }
    .underline-decoration-rhomb {
        
        border-bottom: dashed 2px @primaryTextColor;
    }
}

//hidden-menu
.hidden-menu {
    z-index: 6;
    position: fixed;
    left: 0;
    top: 0;
    background-color: @primaryDarkColor;
    width: 100vw;
    height: 100vh;
    transform: translateY(-100%);
    transition: 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    &__group {
        max-width: 300px;
        padding: 1rem;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__item {
        color: @primaryTextColor;
        text-align: center;
        margin-top: 1rem;
    }
    &__link {
        font-size: 2.5rem;
        text-decoration: none;
        color: @primaryTextColor;
        transition: 0.1s linear;
        @media @medium-devices, @large-devices {
            font-size: 3rem;
        }
        @media @extra-large-devices {
            font-size: 4rem;
        }
    }
    &__link:hover {
        border-bottom: 3px solid @primaryTextColor;
    }
    .close-button {
        position: absolute;
        font-size: 3rem;
        right: 2rem;
        top: 2rem;
        color: @primaryTextColor;
        &__icon {
            cursor: pointer;
            font-size: 3rem;
            color: @primaryTextColor;
        }
    }
}
