.proba {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: transparent;
}
.common-button {
  border: 3px solid black;
  background-color: #c80000;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.2s linear;
  color: white;
}
.common-button:hover {
  background-color: #ff1616;
  color: #d9d9d9;
}
.top-header {
  background: #ffe2ff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  height: 100vh;
  background-blend-mode: darken;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991.98px), (min-width: 992px) and (max-width: 1199.98px), (min-width: 1200px) {
  .top-header {
    height: 100vh;
  }
}
.navigation {
  padding: 0.5rem;
}
.navigation .navigation-logo__icon {
  max-width: 64px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
@media (max-width: 575.98px) {
  .navigation .navigation-logo__icon {
    width: 32px;
  }
}
.navigation .navigation-logo__header {
  display: inline-block;
  color: white;
}
@media (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .navigation .navigation-logo__header {
    font-size: 1rem;
  }
}
.navigation .navigation-social-links {
  padding: 0;
}
.navigation .navigation-social-links__link {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.navigation .navigation-social-links__icon {
  font-size: 2rem;
}
.navigation .navigation-button__button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
.navigation .navigation-button__icon {
  font-size: 2rem;
  cursor: pointer;
  transform: scaleY(1);
  transform-origin: top;
  color: black;
}
@media (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .navigation .navigation-button__icon {
    font-size: 1.5rem;
  }
}
.navigation .navigation-button__icon:hover {
  transform: scaleY(1.2);
}
.centered-header {
  height: 100%;
  position: relative;
}
.introduction-information {
  position: relative;
  text-align: center;
  color: rgba(0, 0, 0, 0.904);
}
.introduction-information__header {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .introduction-information__header {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .introduction-information__header {
    font-size: 3rem;
  }
}
.introduction-information__sub-header {
  padding-bottom: 1rem;
}
.introduction-information__button {
  padding: 0.5rem;
  max-width: 300px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.hidden-menu {
  z-index: 6;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #252525f1;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%);
  transition: 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.hidden-menu__group {
  max-width: 300px;
  padding: 1rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hidden-menu__item {
  color: white;
  text-align: center;
  margin-top: 1rem;
}
.hidden-menu__link {
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  transition: 0.1s linear;
}
@media (min-width: 768px) and (max-width: 991.98px), (min-width: 992px) and (max-width: 1199.98px) {
  .hidden-menu__link {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .hidden-menu__link {
    font-size: 4rem;
  }
}
.hidden-menu__link:hover {
  border-bottom: 3px solid white;
}
.hidden-menu .close-button {
  position: absolute;
  font-size: 3rem;
  right: 2rem;
  top: 2rem;
  color: white;
}
.hidden-menu .close-button__icon {
  cursor: pointer;
  font-size: 3rem;
}
