.proba {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #ffd4ff;
  transition: ease-in-out 1s;
}
.proba .total-scroll {
  width: 0;
  height: 4px;
  background-color: rgba(5, 95, 95, 0.274);
  transition: linear 0.5s;
}
.proba .navigation {
  padding: 0.5rem;
  transition: ease-in-out 1s;
}
.proba .navigation .navigation-logo__icon {
  max-width: 64px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
@media (max-width: 575.98px) {
  .proba .navigation .navigation-logo__icon {
    width: 32px;
  }
}
.proba .navigation .navigation-logo__header {
  display: inline-block;
  color: white;
}
@media (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .proba .navigation .navigation-logo__header {
    font-size: 1rem;
  }
}
.proba .navigation .navigation-social-links {
  padding: 0;
}
.proba .navigation .navigation-social-links__link-with-margings {
  margin-left: 1rem;
  margin-right: 1rem;
}
.proba .navigation .navigation-social-links__icon {
  font-size: 2rem;
  color: #a64aa6;
  width: 34px;
  text-align: center;
}
.proba .navigation .navigation-social-links__icon:hover {
  color: #96a64a;
  transform: scale(1.1);
}
.proba .navigation .navigation-button__button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}
.proba .navigation .navigation-button__icon {
  font-size: 2rem;
  cursor: pointer;
  transform: scaleY(1);
  transform-origin: top;
  color: #a64aa6;
}
@media (min-width: 576px) and (max-width: 767.98px), (max-width: 575.98px) {
  .proba .navigation .navigation-button__icon {
    font-size: 1.5rem;
  }
}
.proba .navigation .navigation-button__icon:hover {
  transform: scaleY(1.2);
  color: #96a64a;
}
.header {
  height: 100vh;
  background-color: #ffe3ff;
  padding-top: 10vh;
  border-bottom: dashed 2px black;
}
.header .header-main-title,
.header .header-sub-title {
  text-align: center;
}
.header .header-main-title {
  font-weight: 400;
  font-size: 5rem;
  letter-spacing: 4px;
}
@media (max-width: 575.98px) {
  .header .header-main-title {
    font-size: 3rem;
  }
}
.header .header-sub-title {
  font-weight: 700;
}
.header .underline-decoration-line {
  border-bottom: dashed 2px black;
}
.header .underline-decoration-rhomb {
  border-bottom: dashed 2px black;
}
.hidden-menu {
  z-index: 6;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #252525f1;
  width: 100vw;
  height: 100vh;
  transform: translateY(-100%);
  transition: 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.hidden-menu__group {
  max-width: 300px;
  padding: 1rem;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hidden-menu__item {
  color: white;
  text-align: center;
  margin-top: 1rem;
}
.hidden-menu__link {
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
  transition: 0.1s linear;
}
@media (min-width: 768px) and (max-width: 991.98px), (min-width: 992px) and (max-width: 1199.98px) {
  .hidden-menu__link {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .hidden-menu__link {
    font-size: 4rem;
  }
}
.hidden-menu__link:hover {
  border-bottom: 3px solid white;
}
.hidden-menu .close-button {
  position: absolute;
  font-size: 3rem;
  right: 2rem;
  top: 2rem;
  color: white;
}
.hidden-menu .close-button__icon {
  cursor: pointer;
  font-size: 3rem;
  color: whitesmoke;
}
