@import "header.css";
@import "main-part.css";

* {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    letter-spacing: 2px;
    color: #000000;
}

