.main-part {
  background: #fcfff0;
}
.decoration-section-wafels__wafel {
  font-size: 1.1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.decoration-section-wafels__line-left,
.decoration-section-wafels__line-right {
  height: 2px;
  width: 15%;
  background-color: #2b211f;
}
.our-advanteges-block__logo {
  width: 64px;
  height: 64px;
  background-color: #fcfff0;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.411);
  border: 2px solid rgba(0, 0, 0, 0.479);
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .our-advanteges-block__logo {
    width: 78px;
    height: 78px;
  }
}
@media (min-width: 1200px) {
  .our-advanteges-block__logo {
    width: 90px;
    height: 90px;
  }
}
.our-advanteges-block__icon {
  font-size: 1.3rem;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .our-advanteges-block__icon {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .our-advanteges-block__icon {
    font-size: 2.2rem;
  }
}
.our-advanteges-block__title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}
.main-part-title-wrapper__top-title {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 4px;
}
@media (max-width: 575.98px) {
  .main-part-title-wrapper__top-title {
    font-size: 2rem;
  }
}
.title-wrapper-of-cards-chapters-name {
  border-radius: 4px;
  background-color: #a64aa6;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.411);
  padding: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.404);
}
.title-wrapper-of-cards-chapters-name__button-oc {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s linear;
}
.title-wrapper-of-cards-chapters-name_button-ocbutton-oc-clicked {
  transform: rotate(180deg);
}
.title-wrapper-of-cards-chapters-name .title-of-cards-chapters {
  text-align: left;
  font-weight: 600;
  font-size: 1.5rem;
  padding-left: 0;
  color: whitesmoke;
}
.title-wrapper-of-cards-chapters-name .cards-chapters-logo {
  max-height: 80px;
}
.padding-layout {
  padding: 1rem;
}
.card-wrapper {
  padding: 0;
  background-color: #faffe3;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.411);
  border-radius: 4px;
  transition: ease-in-out 0.2s;
  border: 2px solid rgba(0, 0, 0, 0.479);
}
.card-wrapper__photo {
  min-width: 180px;
  height: auto;
  width: 100%;
  display: block;
  padding-bottom: 1rem;
  border-radius: 4px;
}
.card-wrapper__title {
  text-align: center;
  padding: 0.2rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.card-wrapper__text {
  text-align: center;
  padding: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.card-wrapper__lighter-block {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 0 0 4px 4px;
  transition: ease-in-out 0.2s;
  color: white;
}
.card-wrapper__buy-button {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: transparent;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.308);
  font-weight: bold;
  border-radius: 4px;
}
.card-wrapper__buy-button:hover {
  background-color: #072a16;
}
.card-wrapper:hover {
  transform: scale(1.02);
}
@media (max-width: 575.98px) {
  .card-wrapper:hover {
    transform: scale(1);
  }
}
