.main-part {
  background-color: #FCFFF0;
}
.main-part-title-wrapper__top-title {
  text-align: center;
  margin-top: 4rem;
  font-size: 2.5rem;
}
@media (max-width: 575.98px) {
  .main-part-title-wrapper__top-title {
    font-size: 2rem;
  }
}
.main-part-title-wrapper__bottom-title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
@media (max-width: 575.98px) {
  .main-part-title-wrapper__bottom-title {
    margin-bottom: 1.5rem;
  }
}
.padding-layout {
  padding: 1rem;
}
.card-wrapper {
  padding: 0;
  background-color: #faffe3;
  -webkit-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: 0px 2px 15px 1px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.411);
  border-radius: 4px;
  transition: ease-in-out 0.2s;
  border: 2px solid rgba(0, 0, 0, 0.329);
}
.card-wrapper__photo {
  min-width: 180px;
  height: auto;
  width: 100%;
  display: block;
  padding-bottom: 1rem;
  border-radius: 4px;
}
.card-wrapper__title {
  text-align: center;
  padding: 0.2rem;
  padding-bottom: 0.5rem;
}
.card-wrapper__text {
  text-align: center;
  padding: 0.2rem;
  padding-bottom: 0.5rem;
  font-family: 'Open Sans', sans-serif;
}
.card-wrapper__lighter-block {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 0 0 4px 4px;
  transition: ease-in-out 0.2s;
  color: white;
}
.card-wrapper__buy-button {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: transparent;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.308);
  font-weight: bold;
  border-radius: 4px;
}
.card-wrapper__buy-button:hover {
  background-color: #072a16;
}
.card-wrapper:hover {
  transform: scale(1.03);
}
@media (max-width: 575.98px) {
  .card-wrapper:hover {
    transform: scale(1);
  }
}
