.main-part {
  background-color: #ffeeff;
}
.decoration-section-wafels__wafel {
  font-size: 1.1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #000000;
}
.decoration-section-wafels__line-left,
.decoration-section-wafels__line-right {
  height: 2px;
  width: 15%;
  background-color: #000000;
}
.our-advanteges-section-wrapper {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2;
}
.our-advanteges-section {
  background-color: #f8bbd0;
  position: relative;
}
.our-advanteges-block__logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #5e35b1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .our-advanteges-block__logo {
    width: 78px;
    height: 78px;
  }
}
@media (min-width: 1200px) {
  .our-advanteges-block__logo {
    width: 90px;
    height: 90px;
  }
}
.our-advanteges-block .from-bottom {
  bottom: -200px;
  opacity: 0;
}
.our-advanteges-block .from-text {
  opacity: 0;
}
.our-advanteges-block__icon {
  padding-left: 2.5px;
  font-size: 1.3rem;
  color: #ffffff;
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .our-advanteges-block__icon {
    font-size: 1.8rem;
  }
}
@media (min-width: 1200px) {
  .our-advanteges-block__icon {
    font-size: 2.2rem;
  }
}
.our-advanteges-block__title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: #000000;
  position: relative;
}
.main-part-title-wrapper__top-title {
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 4px;
}
@media (max-width: 575.98px) {
  .main-part-title-wrapper__top-title {
    font-size: 2rem;
  }
}
.title-wrapper-of-cards-chapters-name {
  border-radius: 3px;
  background: #280680;
  padding: 1.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
}
.title-wrapper-of-cards-chapters-name__title {
  font-size: 1.9rem;
  color: #ffffff;
}
.padding-layout {
  padding-bottom: 15px;
}
.card-wrapper {
  padding: 0;
  border-radius: 3px;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #f8bbd0;
}
.card-wrapper .card-wrapper__photo-wrapper {
  position: relative;
}
.card-wrapper__photo {
  min-width: 180px;
  height: auto;
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  border-radius: 2px 2px 0 0;
  border-bottom: 5px solid #c48b9f;
}
.card-wrapper__title-wrapper {
  height: 60px;
}
.card-wrapper__title {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
  color: #000000;
}
.card-wrapper__text-wrapper {
  min-height: 64px;
}
.card-wrapper__text {
  text-align: center;
  padding: 1rem;
  padding-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #000000;
}
.card-wrapper__lighter-block {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 0 0 3px 3px;
  transition: ease-in-out 0.2s;
}
.card-wrapper__buy-button {
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: transparent;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  border: 2px solid #c48b9f;
  font-weight: bold;
  border-radius: 3px;
  color: #000000;
}
.card-wrapper__buy-button:hover {
  background-color: #072a16;
}
.card-wrapper:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@media (max-width: 575.98px) {
  .card-wrapper:hover {
    transform: scale(1);
  }
}
.photo-buttons-wrapper {
  position: absolute;
}
.photo-buttons-wrapper__first-button,
.photo-buttons-wrapper__second-button {
  background: black;
  width: 20px;
  height: 20px;
}
