@import "responsive.less";

@backrgound-main-color: #ffe3ff;
@background-hover-color: #96A64A;
@background-darkAsShit-color: #A64AA6;
@background-card-color: #FAFFE3;
@background-main-part-color: #FCFFF0;

.main-part {
    background: @background-main-part-color;
}

.decoration-section-wafels {
    &__wafel {
        font-size: 1.1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        color: #2b211f;
    }
    &__line-left, &__line-right {
        height: 2px;
        width: 15%;
        background-color: #2b211f;
    }
}

.our-advanteges-section {
    background-color: #FFE3EB;
}

.our-advanteges-block {
    &__logo {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.68);
        -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.68);
        box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.411);
        border: 3px solid #2b211f;
        @media @large-devices {
            width: 78px;
            height: 78px;
        }
        @media @extra-large-devices {
            width: 90px;
            height: 90px;
        }
    }
    &__icon {
        font-size: 1.3rem;
        color: #2b211f;
        @media @large-devices {
            font-size: 1.8rem;
        }
        @media @extra-large-devices {
            font-size: 2.2rem;
        }
    }
    &__title {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
        color: #2b211f;
    }
}

.main-part-title-wrapper {
    &__top-title {
        text-align: center;
        font-size: 3.2rem;
        font-weight: 500;
        letter-spacing: 4px;
        @media @extra-small-devices {
            font-size: 2rem;
        }
    }
}

.title-wrapper-of-cards-chapters-name {
    border-radius: 4px;
    background: @background-darkAsShit-color;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.68);
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.411);
    padding: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.5);
    &__button-oc {
        font-size: 2rem;
        cursor: pointer;
        transition: 0.5s linear;
    }
    &_button-ocbutton-oc-clicked {
        transform: rotate(180deg);
    }
    .title-of-cards-chapters {
        text-align: left;
        font-weight: 600;
        font-size: 1.5rem;
        padding-left: 0;
        color: whitesmoke;
    }
    .cards-chapters-logo {
        max-height: 80px;
    }
}

.padding-layout {
    padding: 1rem;
}

.card-wrapper {
    padding: 0;
    background-color: @background-card-color;
    -webkit-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.68);
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.411);
    border-radius: 4px;
    transition: ease-in-out 0.2s;
    border: 2px solid rgba(0, 0, 0, 0.5);
    &__photo {
        min-width: 180px;
        height: auto;
        width: 100%;
        display: block;
        padding-bottom: 1rem;
        border-radius: 2px;
    }
    &__title {
        text-align: center;
        padding: 0.2rem;
        padding-bottom: 0.5rem;
        font-weight: 600;
        font-size: 1.5rem;
    }
    &__text {
        text-align: center;
        padding: 0.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    &__lighter-block {
        text-align: center;
        font-size: 1.1rem;
        padding: 1rem;
        border-radius: 0 0 4px 4px;
        transition: ease-in-out 0.2s;
        color: white;
    }
    &__buy-button {
        text-align: center;
        font-size: 1.1rem;
        padding: 1rem;
        background-color: transparent;
        transition: ease-in-out 0.2s;
        cursor: pointer;
        border: 2px solid rgba(0, 0, 0, 0.308);
        font-weight: bold;
        border-radius: 4px;
        &:hover {
            background-color: #072a16;
        }
    }
    &:hover {
        transform: scale(1.02);
    }
    @media @extra-small-devices {
        &:hover {
            transform: scale(1);
        }
    }
}