body {
  padding: 1rem;
  margin: 0;
  display: flex;
  background: url("black-japanese-circles-2.png");
  justify-content: space-around;
}

*{
  box-sizing: border-box;
}

.text-info {
width: 300px;
height: 200px;
background-color: rgba(255, 255, 255, 0.83);
flex-basis: 40%;
border-radius: 6px;
}

.main {
  background-color: rgba(255, 255, 255, 0.83);
  flex-basis: 50%;
  padding: 2rem;
  border-radius: 6px;
}

.cursor-for-catalog {
  color: #fff;
	cursor: pointer;
	display: block;
  background-color: rgba(94, 79, 176, 0.85);
  padding: 6px;
	position: relative;
  font-size: 1.5rem;

}

.cursor-for-catalog:hover {
  background-color: rgba(94, 79, 176, 1);
}

.gallery-switcher {
  background-color: rgba(255, 255, 255, 0.83);
  display: flex;
  justify-content: center;
  border-radius: 6px;
  margin: 12px;
}

.gallery-wrapper {
  display: flex;
  margin: 12px;
}

.fa-arrow-right, .fa-arrow-left {
  font-size: 1rem;
}

.pilastra-gallery, .cupboard-gallery, .chest-gallery {
  display: flex;
  height: 600px;
  width: 800px;
  flex-wrap: wrap;
}

.cupboard-gallery, .chest-gallery {
  display: none;
}

.big-photo {
  display: flex;
  height: 80%;
}

.pictures-block {
  display: flex;
  overflow-x: scroll;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.83);
  border-radius: 6px;
  border: 2px solid white;
}

.pictures-block img{
  width: 136px;
  height: 100%;
  border-top: 0;
  cursor: pointer;
  border-radius: 6px;

}

.next, .previous {
 height: 100%;
 background-color: rgba(94, 79, 176, 0.85);
 color: white;
 border: 0;
 margin: 0;
 padding: 12px;
 width: 120px;
 cursor: pointer;
 border-radius: 6px;
}

.next:hover, .previous:hover {
  background-color: rgba(94, 79, 176, 1);
}


.big-photo {
  width: 100%;
  margin-bottom: 12px;
}

.big-photo img {
  height: auto;
  width: 100%;
  border-radius: 6px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.83);
}

.focus:focus {
  border: 3px solid rgba(94, 79, 176, 1);
  border-radius: 6px;
}
